<div class="conversation">
	<div class="actionbar">
		<div class="name">
			{{currentUser}}
		</div>
		<div class="actions">
			<div class="action opacity-enter">
				<span class="icon icon-settings"></span>
			</div>
			<div class="action opacity-enter">
				<span class="icon icon-close"></span>
			</div>
		</div>
	</div>
	<div class="messages">
    	<div class="velocity-transition-slideUpIn message {{whoIsThis(message.user)}}" ng-repeat="message in messages">
			<span class="message-author">
				{{message.user}}
			</span>
			<span class="message-text">
				{{message.text}}
			</span>
		</div>
    </div>
	<div class="message-input">
		<input 	type="text" 
				class="message-input-inner" 
				placeholder="Send message..."
				ng-keypress="sendMessage($event)"
				ng-model="input" />
	</div>
</div>
